<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BotAtMart</title>
        <meta name= "viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" type="text/css" href="../../static/bot/styles.css">
        <script src="../../static/bot/gauge.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body onload="setGaugeValue(0.2);">
        <section id="banner">
            <img src="../../static/bot/images/new-logo.png" class="logo">
            <div class="banner-text">
                <h1>Shopping Bot</h1>
                <p>Make your life easy with the shopping bot</p>
                <div class="banner-btn">

                </div>
            </div>
        </section>
        <div id="sideNav">
            <nav>
                <ul>
                    <li><a class="active_link" href="">Home</a></li>
                    <li><a href="">Bot details</a></li>
                    <li><a href="">Purchases</a></li>
                    <li><a href="">Wish List</a></li>
                    <li><a href="">Catalogue</a></li>
                    <li><a href="">Sign out</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </nav>
        </div>
        <div id="menuBtn">
            <img src="../../static/bot/images/menu.png" id="menu">
        </div>

        <section id="bot-details">
            <div class="row">
                <div class="col-sm-8">
                    <div class="title-text">
                        <p>Bot Details</p>
                    </div>
                    <div class="container-fluid">
                        <div class="panel panel-success">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><b>Bot name:</b> {{botName}}</p>
                                    <p><b>Bot id: </b>{{botId}}</p>
                                    <p><b>Total payload:</b> {{currPayload}}</p>
                                    <p><b>Maximum Capacity:</b> 40 Kg</p>
                                </div>
                                <div class="col-sm-4">
                                    <!-- <canvas id="speedometer" width="440" height="220">Canvas not available.</canvas> -->
                                    <!--<img src="../../images/speed.png" class="img-responsive" id="speed">-->
                                    <div class="gauge">
                                        <div class="gauge__body">
                                          <div class="gauge__fill"></div>
                                          <div class="gauge__cover"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn">
                                        <a class="btn follow" href="">Follow Me!</a>
                                        <p></p>
                                        <a class="btn sleep" href="">
                                            <label class="switch">
                                                    <p>Sleep</p>
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="title-text">
                        <p>User Details</p>
                    </div>
                    <div class="user-details">
                        <a href="">
                            <img src="../../static/bot/images/avatar.png" class="img-responsive" id="avatar">
                            <div class="caption">
                                <p class="user-name">{{User}}</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        
        <section id="cart">
            <div class="row">
                <div class="title-text">
                    <p>What's in your Cart? <i class="fa fa-shopping-cart" style="color: black;"></i></p>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="cart-details">
                            <div class="table-wrapper table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <h2 class="cart-heading">
                                                <b>Cart Items</b> 
                                                <div class="search-container">
                                                    <form action="">
                                                      <input type="text" placeholder="Search.." name="search">
                                                      <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                            </h2>
                                            
                                        </tr>
                                        <tr>
                                            <th>Item</th>
                                            <th>Weight</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cartItems %}
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.weight }}</td>
                                        <td>{{ item.quantity }}</td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="user-feedback">
                            <div class="btn-group btn-group-vertical">
                                <button type="button" class="btn btn-primary">Change Profile</button>
                                <button type="button" class="btn btn-primary">Share <i class="fa fa-share-alt"></i></button>
                                <button type="button" class="btn btn-primary">Feedback</button>
                                <button type="button" class="btn btn-primary">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="wish">
            <div class="title-text">
                <p>Wish List <i class="fa fa-heart" style="color: rgb(197, 9, 119);"></i></p>
            </div>
            <div class="wish-list">
                <div class="table-wrapper table-responsive">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    <b>Wish List</b>
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                <div class="search-container">
                                    <form action="">
                                      <input type="text" placeholder="Search.." name="search">
                                      <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {% for item in wishList %}
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="add" title="" data-toggle="tooltip" data-original-title="Add"><i class="material-icons"></i></a>
                                <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
                                <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>
                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="title-text">
                <p>Contact</p>
                <h1><b>Need Help?</b></h1>
            </div>
            <div class="flex-container">
                <div class="footer-row">
                    <div class="col-sm-3">
                        <div class="footer-left">
                            <a href="">
                                <img src="../../static/bot/images/video_demo.jpeg" class="img-responsive">
                                <div class="caption">
                                    <p class="tut-video">Watch Tutorial video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-center">
                            <form class="form-horizontal" action="">
                                <div class="textarea">
                                    <textarea placeholder="Enter your concerns"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-right">
                            <p>#1, Shop Mart, Xyz IN <i class="fa fa-map-marker"></i></p>
                            <p>www.botAtMart.ml <i class="fa fa-paper-plane"></i></p>
                            <p>+91-123456789 <i class="fa fa-phone"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-links">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube-play"></i>
            </div>
        </section>
        <script>
            var menuBtn = document.getElementById("menuBtn")
            var sideNav = document.getElementById("sideNav")
            var menu = document.getElementById("menu")

            sideNav.style.right = "-250px"

            menuBtn.onclick =function(){
                if(sideNav.style.right == "-250px"){
                    sideNav.style.right ="0";
                    menu.src = "../../static/bot/images/close.png";
                }
                else{
                    sideNav.style.right = "-250px";
                    menu.src = "../../static/bot/images/menu.png";
                }
            }
        </script>
    </body>
</html>

