*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}
.title{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    width: 100%;
    text-transform: uppercase;
}
.navbar a:hover {
    background-color: #000;
  }

.icon-bar{
    background-color: black;
}
.active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
  }
  
li a{
    color: black;
}
.welcome{
    color: cadetblue;
}
.user-name{
    text-align: center;
    color: coral;
}

.row1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    padding: 25px;
    border-radius: 5px;
    background: rgb(10, 236, 187);
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}

.btn.follow{
    background-color: blue;
    color: white;
}

.btn.sleep{
    background: transparent;
    border: 1px solid white;
    color: #333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }


    .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    background: rgb(10, 236, 187);
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    }
